@import url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700);
@import url(http://weloveiconfonts.com/api/?family=entypo);

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

$background-blur: 20px;
$album-color: #EEE;
$album-cover: url(https://d13yacurqjgara.cloudfront.net/users/41854/screenshots/1835511/matmi-social.png);

* {
  font-family: 'PT Sans Narrow', sans-serif;
  outline: none;
}

.iconBtn {
  width: 40px; height: 40px;
  background: none;
  font-weight: normal;
  border-radius: 20px;
  border: 2px solid #FFF;
  margin: 20px 10px 20px 20px;
  font-size: 30px;
  color: #FFF;
  cursor: pointer;

  &:hover {
    text-shadow: 0 0 10px #FFF;
  }
}

html, body {
  width: 100%; height: 100%;
  margin: 0; padding: 0;
  font-size: 18px;
  background: $album-cover center center no-repeat;
  background-size: cover;
  background-color: $album-color;
  background-blend-mode: multiply;
}

.container {
  width: 100%; height: 100%;
  margin: 0; padding: 0;
  position: relative;
  overflow: hidden;

  .background {
    width: 100%; height: 100%;
    margin: 0; padding: 0;
    background: $album-cover center center no-repeat;
    background-size: cover;
    background-color: $album-color;
    background-blend-mode: multiply;
    -webkit-filter: blur($background-blur);
    -moz-filter: blur($background-blur);
    -o-filter: blur($background-blur);
    -ms-filter: blur($background-blur);
    filter: blur($background-blur);
    position: absolute;
    top: 0; left: 0; 
    z-index: 1;
  }

  .main {
    width: 100%; height: 100%;
    position: absolute;
    top: 0; left: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;

    .content {
      flex: 1;
      display: flex;
      flex-direction: column;
    }

    .player {
      flex-basis: 60px; 
      background: rgba(255, 255, 255, 0.2);
      display: flex;
      flex-direction: row;

      .playerControlBtn {
        flex-basis: 60px;
        height: 60px;
        background: none; border: none;
        cursor: pointer;
        font-size: 30px;
        color: #FFF;

        &:hover {
          text-shadow: 0 0 10px #FFF;
        }
      }

      .timeStatus {
        flex-basis: 60px;
        line-height: 60px;
        font-size: 12px;
        text-align: center;
        color: #FFF;
      }

      .progressBarRegion {
        flex: 1;
        position: relative;

        .progressBar {
          width: 100%; height: 2px;
          background: rgba(255, 255, 255, 0.5);
          position: absolute;
          left: 0; top: 28px;
          border-raidus: 2px;

          .progress {
            width: 40%; height: 2px;
            background: #FFB300;
            display: block;
            position: absolute;
            content: ".";
            text-indent: -999999;
            box-shadow: 0 0 8px #FFC107;
          }
        }
      }
    }
  }
}

.nowPlaying {
  flex: 1;
  display: flex; 
  flex-direction: row;

  .info {
    flex-basis: 420px;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    .searchBox {
      flex-basis: 50px;
      display: flex;
      flex-direction: column;

      input {
        flex: 1;
        background: rgba(255, 255, 255, 0.3);
        color: #FFF;
        padding: 5px;
        border: none;
        font-size: 20px;
      }

      input::-webkit-input-placeholder {
        color: rgba(255, 255, 255, 0.3);
      }

      input:-moz-placeholder { /* Firefox 18- */
        color: rgba(255, 255, 255, 0.3);
      }

      input::-moz-placeholder {  /* Firefox 19+ */
        color: rgba(255, 255, 255, 0.3);
      }

      input:-ms-input-placeholder {  
        color: rgba(255, 255, 255, 0.3);
      }
    }
    
    .searchList {
      flex: 1;
      color: #FFF;
      text-align: center;
      overflow: auto;
      margin: 0; padding: 5px;
      margin-right: -17px;
      list-style: none;
      
      li {
        display: flex;
        flex-direction: row;
        height: 60px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        opacity: 1;

        button {
          margin: 10px;
          flex-basis: 40px;
          font-size: 20px;
        }

        .songName {
          flex: 1;
          font-size: 18px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          text-align: left;

          span {
            display: block;
            clear: both;
            font-size: 14px;
            font-style: normal;
            text-overflow: ellipsis;
            overflow: hidden;
          }
        }
      }
    }
  }

  .playList {
    flex: 1;
    background: rgba(50, 50, 50, 0.3);
    display: flex; flex-direction: column;
    color: #FFF;
    padding: 15px; 

    .playListNavigator {
      flex-basis: 30px;
      padding: 10px;
      font-size: 18px;

      span {
        cursor: pointer;

        &:hover {
          text-shadow: 0 0 10px #FFF;
        }
      }
    }

    .playlistHeader {
      flex-basis: 80px;
      display: flex;
      flex-direction: row;

      .playListUtils {
        flex-basis: 80px;
        text-align: right;

      }

      img {
        flex-basis: 60px; height: 60px;
        margin: 10px;
      }

      .playListInfo {
        flex: 1;
        padding: 10px;
        padding-left: 0;

        h3 {
          padding: 0; margin: 0;
        }
      }
    }

    .songList {
      flex: 1;
      margin: 0; padding: 0;
      list-style: none;
      overflow: auto;
      margin-right: -17px;

      li {
        display: flex;
        flex-direction: row;
        height: 60px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        opacity: 0.8;

        &.active {
          opacity: 1;
          background: rgba(255, 255, 255, 0.2);
        }

        button {
          margin: 10px;
          flex-basis: 40px;
          font-size: 20px;
        }

        .songName {
          flex: 1;
          font-size: 18px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          position: relative;

          span {
            display: block;
            clear: both;
            font-size: 14px;
            font-style: normal;
          }

          button {
            position: absolute;
            top: 0; right: 10px;
          }
        }
      }
    }
  }
}
